@model OhLiveDinner.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot";
    <style>
        *{
            padding:0;
            margin:0;
            list-style:none;
        }
        .card.col-md-4 {
            height: auto;
            border: 1px solid #808080;
            
            justify-content: center;
            margin:20px 0px;
        }
        .form-group
        {
            text-align:center;
            padding:10px;
        }
        .title {
            text-align: center;
            font-family: 'Microsoft JhengHei';
            padding: 10px;
        }

        .titleIMG {
            padding: 5px;
            display: flex;
            justify-content: center;
        }
    </style>
}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="card col-md-4">
            <div class="title">
                <h2 class="top">Register</h2>

            </div>
            <div class="titleIMG">
                <img src="~/Assets/images/logo.png" />
            </div>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg" value="Send Email" />

                    @*<div class="col-md-offset-2 col-md-10">
                </div>*@
                </div>
            }

        </div>
        <div class="col-md-4"></div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
