
@model MVC_Project.ViewModel.ProductsViewModel

@{
    ViewBag.Title = "Menu";
}

<div class="container" id="menu">
    <div class="row w-auto">
        <div class="col-12 btn_weekday">
            <ul class="list-group col-12">
                <li class="list-group-itempo">
                    @Html.ActionLink("Special", "Products", "ProductsList", null, new { @class = "btn btn-lg btn-circle btn-outline-new-white shake shake-crazy" })
                </li>
                <li class="list-group-itempo">
                    @Html.ActionLink("monday", "monday", "ProductsList", null, new { @class = "btn btn-lg btn-circle btn-outline-new-white shake freez " })
                </li>
                <li class="list-group-itempo">
                    @Html.ActionLink("tuesday", "tuesday", "ProductsList", null, new { @class = "btn btn-lg btn-circle btn-outline-new-white shake shake-slow" })
                </li>
                <li class="list-group-itempo">
                    @Html.ActionLink("wedsday", "wedsday", "ProductsList", null, new { @class = "btn btn-lg btn-circle btn-outline-new-white shake shake-opacity" })
                </li>
                <li class="list-group-itempo">
                    @Html.ActionLink("thrusday", "thrusday", "ProductsList", null, new { @class = "btn btn-lg btn-circle btn-outline-new-white shake shake-rotate" })
                </li>
                <li class="list-group-itempo">
                    @Html.ActionLink("friday", "friday", "ProductsList", null, new { @class = "btn btn-lg btn-circle btn-outline-new-white shake shake-horizontal" })
                </li>
                <li class="list-group-itempo">
                    @Html.ActionLink("saturday", "saturday", "ProductsList", null, new { @class = "btn btn-lg btn-circle btn-outline-new-white shake shake-hard" })
                </li>
                <li class="list-group-itempo">
                    @Html.ActionLink("sunday", "sunday", "ProductsList", null, new { @class = "btn btn-lg btn-circle btn-outline-new-white shake shake-vertical" })
                </li>
            </ul>
        </div>

        <div class="col-12  mx-auto" id="book">
            <div class="" id="flipbook">

                <div class="hard" id="">
                    <h1>Monday</h1>
                </div>

                <div id="page">
                    <h1>Appetizer</h1>
                    @foreach (var i in Model.Appetizer)
                    {
                        <div class="card col-lg-4 mx-auto">
                            <img src="@i.MealPicture" class="card-img-top " alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@i.MealName</h5>
                                <p class="card-text">@i.MealPrice</p>
                                <select id="YourLocation" class="w-50 my-2 mx-auto">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                                <div class="btn">
                                    <a href="#">Buy</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div id="page" class="">
                    <h1>Main</h1>
                    @foreach (var i in Model.Main)
                    {
                        <div class="card col-lg-4 mx-auto">
                            <img src="@i.MealPicture" class="card-img-top " alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@i.MealName</h5>
                                <p class="card-text">@i.MealPrice</p>
                                <select id="YourLocation" class="w-50 my-2 mx-auto">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                                <div class="btn">
                                    <a href="#">Buy</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div id="page">
                    <h1>Desert</h1>
                    @foreach (var i in Model.Desert)
                    {
                        <div class="card col-lg-4 mx-auto">
                            <img src="@i.MealPicture" class="card-img-top " alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@i.MealName</h5>
                                <p class="card-text">@i.MealPrice</p>
                                <select id="YourLocation" class="w-50 my-2 mx-auto">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                                <div class="btn">
                                    <a href="#">Buy</a>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                <div class="" id="page">
                    <h1>Drink</h1>
                    @foreach (var i in Model.Drink)
                    {
                        <div class="card col-lg-4 mx-auto">
                            <img src="@i.MealPicture" class="card-img-top " alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@i.MealName</h5>
                                <p class="card-text">@i.MealPrice</p>
                                <select id="YourLocation" class="w-50 my-2 mx-auto">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                                <div class="btn">
                                    <a href="#">Buy</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="hard" id=""></div>
            </div>


        </div>

    </div>
</div>

@section topCSS{
    <link href="~/Assets/css/shake.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <style>
        body {
            background: #000 url("/Assets/images/bg_NightCandle.jpeg") center center no-repeat;
            background-color: #000 !important;
        }

        #menu {
            padding-top: 200px
        }

            #menu:hover {
                cursor: grab;
            }

            #menu:active {
                cursor: grabbing;
            }


        .btn_weekday .list-group {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
            padding: 0;
            justify-content: center;
            margin-bottom: 3rem;
        }

            .btn_weekday .list-group li {
                display: block;
                width: 10%;
                margin: 0 1%;
            }

        /*星期一～日的按鈕*/
        .btn_weekday a {
            background: url(/Assets/images//cup.png) center top;
            background-size: cover;
            width: 100%;
            padding: 5rem 0;
            font-size: 1rem;
            border: none;
            color: #000;
            filter: brightness(1.5);
        }

            .btn_weekday a:hover {
                background-color: #000;
                color: #000;
            }

        /*.line {
            width: 30%;
            margin-top: auto;
            margin-bottom: auto;
            border-top: solid #000 1px;
        }*/

        .hard {
            background: #5e331b url(/Assets/images/leather.jpg) center center;
            text-align: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            position: relative;
            /*transform: rotate(90deg);*/
            /*border: 1rem solid #fff;*/
        }

            .hard h1 {
                /*background-color: rgba(0,0,0,.5);*/
                font-family: 'Pacifico', cursive;
                color: rgba(0,0,0,.7);
                /*text-shadow: 2px 2px #5e331b;*/
                font-size: 6rem;
                margin: 5rem;
            }

        #page {
            background-color: #ecce79;
            background: url(/Assets/images/sheep_paper.jpg) center center;
            background-size: cover;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }


            #page h1 {
                font-size: 5rem;
                padding-top: 3rem;
                font-family: 'Pacifico', cursive;
                display: block;
                width: 100%;
                text-align: center;
            }

            #page .card {
                background-color: rgba(231, 226, 189,.4);
            }

                #page .card img {
                    width: 100%
                }

                #page .card .card-body .card-title {
                    font-family: 'Microsoft JhengHei';
                    font-size: 2rem;
                    font-weight: bold;
                    color: #000;
                }

                #page .card .card-body .card-text {
                    font-family: 'Microsoft JhengHei';
                    font-size: 2rem;
                    font-weight: bold;
                    color: #000;
                }

                #page .card .card-body .btn {
                    background-color: #d65106;
                    color: #fff;
                    width: 80%;
                    padding: 0px;
                    font-size: 1.5rem;
                }

                    #page .card .card-body .btn a {
                        color: #fff;
                    }

        #productitem {
            display: flex;
        }


            #productitem img {
                width: 25%;
                padding-bottom: -20%
            }
    </style>
}

@section endJS{
    <script src="~/Assets/filpbook/extras/jquery.min.1.7.js"></script>

    <script src="~/Assets/filpbook/lib/turn.js"></script>
    <script type="text/javascript">


        $("#flipbook").turn({
            width: 1200,
            height: 600,
            autoCenter: false

        });
    </script>
}
@*<img src="~/Assets/foodimages/appetizer1.jpg" />*@

